$frame_background_color: #ddd;
$text_muted: #aaa;
$link_muted: #555;

.App {
	text-align: left;
}

body {
	background-color: #eee;
}

.pageContent {
	padding: 15px 30px;
	margin: 70px 0 0 0;
}

h2.pageTitle {
	margin-top: 10px;
	margin-bottom: 20px;
}

.flashcard {
	margin: 0 0 10px 0;
	display: flex;
	justify-content: left;

	.infoArea {
		margin-left: 5px;
	}

	.category {
		text-transform: uppercase;
	}

	.categoryKind {
		font-size: 0.75em;
		color: green;
	}

	.front {
		font-weight: normal;
		font-size: 0.8em;
	}

	.back {
		color: brown;
		font-family: "Courier New", Courier, monospace;
		font-size: 0.8em;
		span {
			background-color: #ddd;
		}
	}
}

.main {
	display: flex;
	flex-wrap: nowrap;

	width: 100%;
	a {
		color: black;
	}
}

a.active {
	font-weight: bold;
}

.appTitle {
	color: #555;
	font-weight: normal;
}

.footer {
	background-color: #f8f9fa;
	height: 2em;
	padding-top: 4px;
	color: $text_muted;
	font-size: .9em;
	display: flex;
	justify-content: space-between;
	a {
		color: $link_muted;
		text-decoration: underline;
	}

	.left {
		padding-left: 10px;
	}

	.right {
		padding-right: 10px;
	}
}
